################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Homy/FileContentIndex/d0ce13a9-c268-42ad-90a0-2c3dc40ebd3c.vsidx
/.vs/Homy/FileContentIndex/8782bb80-6a7f-4dfd-b674-6ce692b306d5.vsidx
/.vs/Homy/FileContentIndex/1504275e-7da5-4b38-8d3a-42ce228ca793.vsidx
/.vs/Homy/v17/DocumentLayout.json
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Homy/FileContentIndex/19e94b0f-4f2f-45e1-80b9-396b13ce3359.vsidx
/.vs/VSWorkspaceState.json
/.vs/Homy/v17/.wsuo
/.vs/Homy/FileContentIndex/a7fd409d-ff43-4c67-a6a0-e4b98f4c863b.vsidx
/.vs/Homy/FileContentIndex/fcf6d4fc-956b-4de8-a34a-1136cf62bcdc.vsidx
